{% extends 'base_template.html' %}

{% block body %}
<body>
    <div class="container mb-4">

        <h1 class="mb-4"><i class="bi bi-journal-text"></i>Current Status of all Requests</h1>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">Back to Home</a>

        <div style="margin-top: 15px; margin-bottom: 15px">
            <ul>
                <li>All dates are shown in GMT and with YYYY/MM/DD format
                <li>Requests are shown from newer to older
            </ul>
        </div>

        <h2  style="margin-top: 30px">AI translations Requests</h5>
            <table class="table mt-3 table-sm" >
                <thead>
                    <tr class="text-center">
                        <th scope="col">Request Id</th>
                        <th scope="col">Target Language</th>
                        <th scope="col">Requester</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Received from LLM</th>
                        <th scope="col">Original file</th>
                        <th scope="col">Translated file</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for request in translations_requests %}
                    <tr class="text-center">
                        <td scope="row">{{ request.id }}</td>
                        <td>{{ request.language.name }}</td>
                        <td>{{ request.request_user.first_name }} {{ request.request_user.last_name }}</td>
                        <td><span class="badge rounded-pill text-bg-primary">{{ request.status }}</span></td> 
                        <td>{{ request.date_created|date:"Y/m/d H:i" }}</td>
                        <td>{{ request.date_received_from_llm|date:"Y/m/d H:i" }}</td>
                        <td><a href="{% url 'download_file' type='translations_request' id=request.id file_to_download=request.source_xliff_file.name %}" 
                            class="btn btn-secondary btn-sm"> <i class="bi bi-file-earmark-arrow-down"></i>Download</a></td>
                        <td>
                            {% if request.date_received_from_llm is not None %}
                                <a href="{% url 'download_file' type='translations_request' id=request.id file_to_download=request.target_xliff_file_name %}" 
                                class="btn btn-secondary btn-sm"> <i class="bi bi-file-earmark-arrow-down"></i> Download</a>
                                {% else %}
                                Not yet Available
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        <h2 style="margin-top: 50px"> Reviews requested to Business Experts</h5>
        <table class="table mt-3 table-sm" >
            <thead>
                <tr class="text-center">
                    <th scope="col" style="width:1%">Request Id</th>
                    <th scope="col">Requester to Reviewer</th>
                    <th scope="col">Language</th>
                    <th scope="col">Status</th>
                    <th scope="col">Requested Date</th>
                    <th scope="col"><i class="bi bi-tag"></i>Tag</th>
                    <th scope="col">Date Reviewed</th>
                    <th scope="col"></i>Requester Comments</th>
                    <th scope="col"></i>Reviewer Comments</th>
                    <th scope="col"></i>Requester file</th>
                    <th scope="col"></i>Business Reviewed</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for request in review_requests %}
                <tr class="text-center">
                    <td >{{ request.id }}</td>
                    <td style="font-size: smaller;">{{ request.technical_user.first_name }}  
                        <i class="bi bi-arrow-right-square-fill" style="color:#ffc107;"></i>
                        {{ request.business_user.first_name }} </td>
                    <td>{{ request.language.name }}</td>
                    <td><span class="badge rounded-pill text-bg-primary">{{ request.status }}</span></td> 
                    <td>{{ request.date_created|date:"Y/m/d" }}</td>
                    <td style="font-size: smaller;">{{ request.info_tag|default_if_none:"-" }}</td>
                    <td>{{ request.date_reviewed_by_business|date:"Y/m/d" }}</td>
                    <td>
                        {% if request.requester_comment is not None and request.requester_comment != ''%}
                            <button type="button" class="btn btn-sm btn-light" 
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            title="{{ request.requester_comment }}"><i class="bi bi-chat-dots"></i> Comments</button>
                        {%else%}
                        {% endif %}
                    </td>
                    <td>
                        {% if request.reviewer_comment is not None %}
                            <button type="button" class="btn btn-sm btn-light" 
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            title="{{ request.reviewer_comment }}"><i class="bi bi-chat-dots"></i> Comments</button>
                        {%else%} 
                        {% endif %}
                        </td>
                    <td>
                        <a href="{% url 'download_file' type='review_request_source_file' id=request.id file_to_download=request.target_xliff_file %}" 
                            class="btn btn-secondary btn-sm"> <i class="bi bi-file-earmark-arrow-down"></i> Download</a>
                    </td>
                    <td style="font-size: smaller;">
                        {% if request.status == 'Reviewed' %}
                            <a href="{% url 'download_file' type='review_request_target_file' id=request.id file_to_download=request.target_xliff_file %}"
                            class="btn btn-secondary btn-sm"> <i class="bi bi-file-earmark-arrow-down"></i> Download</a>
                        {% else %}
                            Not Reviewed yet
                        {% endif %}    
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
{% endblock %}
