{% extends 'base_template.html' %}

{% block body %}
<body>
    <div class="container mb-4">

        <h1 class="mb-4"><i class="bi bi-journal-text"></i>Requests status</h1>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">Back to Home</a>

        <div style="margin-top: 15px; margin-bottom: 15px">
            <ul>
                <li>All dates are shown in GMT and with YYYY/MM/DD format
                <li>Requests are shown from newer to older
            </ul>
        </div>

        <h2  style="margin-top: 30px">AI translations Requests</h5>
            <p class="badge text-bg-primary rounded-pill"><i class="bi bi-1-circle"></i> Created</p> meaning is pending the AI engine. <br>
            <p class="badge text-bg-primary rounded-pill"><i class="bi bi-2-circle"></i> AI translation ready</p> meaning the translation by the AI engine is ready and file is ready to be downloaded and reviewed.
            <table class="table mt-3 table-sm" >
                <thead>
                    <tr class="text-center">
                        <th scope="col">Request Id</th>
                        <th scope="col">Target Language</th>
                        <th scope="col">Requester</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Received from AI</th>  
                        <th scope="col">Original file</th>
                        <th scope="col">Translated file</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for request in translations_requests %}
                    <tr class="text-center"> 
                        <td scope="row">{{ request.id }}</td>
                        <td><span class="fi fi-{{ request.language.iso_value}}"></span>
                            {{ request.language.name }}</td>
                        <td>{{ request.request_user.first_name }} {{ request.request_user.last_name }}</td>
                        {% if request.status == "Declined" %}
                            <td><span class="badge rounded-pill text-bg-danger">{{request.status}}</span></td> 
                         {%elif request.status == "Reviewed" %}
                             <td><span class="badge rounded-pill text-bg-success">{{request.status}}</span></td> 
                            {%elif request.status == "Error_from_AI" %}
                             <td><span class="badge rounded-pill text-bg-danger">{{request.status}}</span></td> 
                         {% else %}
                             <td><span class="badge rounded-pill text-bg-primary">{{request.status}}</span></td> 
                         {% endif %}
                        <td>{{ request.date_created|date:"Y/m/d H:i" }}</td>
                        <td>{{ request.date_received_from_llm|date:"Y/m/d H:i" }}</td>
                        <td><a href="{% url 'download_file' type='translations_request_original_file' id=request.id file_to_download=request.source_xliff_file.name %}" 
                            class="btn btn-secondary btn-sm"> <i class="bi bi-file-earmark-arrow-down"></i>Download</a></td>
                        <td>
                            {% if request.date_received_from_llm is not None and request.status != 'Error_from_AI' %}
                                <a href="{% url 'download_file' type='translations_request_AItranslated_file' id=request.id file_to_download=request.target_xliff_file_name %}" 
                                class="btn btn-secondary btn-sm"> <i class="bi bi-file-earmark-arrow-down"></i>Download</a>
                                {% else %}
                                Not Available
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        <h2 style="margin-top: 50px"> Reviews requested to Business experts</h5>
        <p class="badge text-bg-primary rounded-pill"><i class="bi bi-1-circle"></i> Created</p> meaning is pending the Reviewer. <br>
        <p class="badge text-bg-primary rounded-pill"><i class="bi bi-2-circle"></i> Reviewed</p> meaning the Reviewer already reviewed the translations and the file is ready to be downloaded and uploaded to Salesforce.
            
        <table class="table mt-3 table-sm" >
            <thead>
                <tr class="text-center">
                    <th scope="col" style="width:1%">Request Id</th>
                    <th scope="col">Requester & Reviewer</th>
                    <th scope="col">Language</th>
                    <th scope="col">Status</th>
                    <th scope="col">Requested Date</th>
                    <th scope="col"><i class="bi bi-tag"></i>Tag</th>
                    <th scope="col">Date Reviewed</th>
                    <th scope="col"></i>Requester file</th>
                    <th scope="col"></i>Business Reviewed file</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for request in review_requests %}
                <tr class="text-center">
                    <td >{{ request.id }}</td>
                    <td style="font-size: smaller;">
                        {{ request.technical_user.first_name }} {{ request.technical_user.last_name }} <i class="bi bi-arrow-right-square-fill" style="color:#ffc107;"></i>
                        {{ request.business_user.first_name }} {{ request.business_user.last_name }} 
                        <br>
                        <button type="button" class="btn btn-sm btn-light" 
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            title="{{ request.requester_comment|default:"None" }}"><i class="bi bi-chat-dots"></i> {{ request.technical_user.first_name }} Comments</button>
                        <button type="button" class="btn btn-sm btn-light" 
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            title="{{ request.reviewer_comment|default:"None" }}"><i class="bi bi-chat-dots"></i> {{ request.business_user.first_name }} Comments</button>
                    </td>
                    <td style="font-size: smaller;">
                        <span class="fi fi-{{ request.language.iso_value}}"></span> {{ request.language.name }}
                    </td>
                    {% if request.status == "Declined" %}
                    <td><span class="badge rounded-pill text-bg-danger">{{request.status}}</span></td> 
                    {%elif request.status == "Reviewed" %}
                        <td><span class="badge rounded-pill text-bg-success">{{request.status}}</span></td> 
                    {% else %}
                        <td><span class="badge rounded-pill text-bg-primary">{{request.status}}</span></td> 
                    {% endif %} 
                    <td style="font-size: smaller;">{{ request.date_created|date:"Y/m/d" }}</td>
                    <td style="font-size: smaller;">{{ request.info_tag|default_if_none:"-" }}</td>
                    <td style="font-size: smaller;">{{ request.date_reviewed_by_business|date:"Y/m/d"|default:"Not yet Reviewed" }}</td>
                    <td>
                        <a href="{% url 'download_file' type='review_request_source_file' id=request.id file_to_download=request.target_xliff_file %}" 
                            class="btn btn-secondary btn-sm"> <i class="bi bi-file-earmark-arrow-down"></i> Download</a>
                    </td>
                    <td style="font-size: smaller;">
                        {% if request.status == 'Reviewed' or request.status == 'Requester_Downloaded_Review' %}
                            <a href="{% url 'download_file' type='review_request_target_file' id=request.id file_to_download=request.target_xliff_file %}"
                            class="btn btn-secondary btn-sm"> <i class="bi bi-file-earmark-arrow-down"></i> Download</a>
                        {% else %}
                            Not yet Reviewed
                        {% endif %}    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
{% endblock %}
