<!-- myapp/templates/myapp/home.html -->
{% extends 'base_template.html' %}


{% block body %}
    <div class="p-3">
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <h2 style="margin-top:15px">
                <i class="bi bi-wrench-adjustable-circle"></i>
                Admin Section
            </h2>
            <div class="card-group" style="margin-bottom: 30px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Admin Tasks</h5>
                        <p class="card-text">Manage administrative tasks such as user management and group assignments.</p>
                        <a href="/admin" class="btn btn-primary">Go to Admin Panel</a>  
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Current tasks include managing users and assigning them to groups.</small>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% if "Requester" in user.groups.all|join:", " %}
            <div class="card-group" style="margin-bottom: 30px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-filetype-xml"></i> Request an AI Translation</h5>
                        <p class="card-text">Submit an XLIFF file with Literals, extracted from Salesforce, for translation to the AI engine.</p>
                        <a href="{% url 'request_translation' %}" class="btn btn-primary">Request an AI Translation</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">An XLIFF file is required.</small>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-filetype-xml"></i> Request a Business Review</h5>
                        <p class="card-text">Submit an AI-translated and previously reviewed by the team to business for review.</p>
                        <a href="{% url 'request_review' %}" class="btn btn-primary">Request a Business Review</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">An XLIFF file is required.</small>
                    </div>
                </div>
            </div>

            <div class="card-group" style="margin-bottom: 30px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-filetype-xml"></i> Check Request Status for AI and Business Review</h5>
                        <p class="card-text">Monitor the status of AI and Business reviews and  and Download the resulted files.</p>
                        <a href="{% url 'check_request_status' %}" class="btn btn-primary">Check AI & Business requests</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">You can check both AI and Business review requests.</small>
                    </div>
                </div>
            </div>
            
            {% endif %}

            {% if "Reviewer" in user.groups.all|join:", " %}
            <div class="card-group" style="margin-bottom: 30px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-card-checklist"></i> User Reviews</h5>
                        <p class="card-text">Check all your Review requests, regardless of the status.</p>
                        <a href="{% url 'choose_review_view' %}" class="btn btn-primary">Check my Reviews</a>
                    </div>
                    <div class="card-footer">
                        {% if pending_requests_count > 0 %}
                            <i class="bi bi-mailbox2-flag" style="font-size: 1rem; color: #dc3545;margin-right: 5px"></i>
                            <small class="text-body-secondary">
                                You currently have <b>{{pending_requests_count}} pending reviews.</b></small>
                        {% else %}
                            <small class="text-body-secondary">✅ You currently have no pending reviews.</small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}


            <div class="card-group" style="margin-bottom: 15px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-journal-bookmark" user></i> Custom AI Translation Instructions</h5>
                        <p class="card-text">Provide specific instructions to guide the AI in translating texts according to your preferences and criteria.</p>
                        <a href="{% url 'custom_instructions' %}" class="btn btn-primary">Custom Instructions</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Instructions are managed by language, not per request or user.</small>
                    </div>
                </div>
            </div>

            <div class="card-group" style="margin-bottom: 15px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-calendar-date" user></i> Activity Log </h5>
                        <p class="card-text">Review the Full log of activity, for your requests to the AI engine and to reviewers and their answers.    </p>
                        <a href="{% url 'diary_log' %}" class="btn btn-primary">See the Full log</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">See all the activities in the system.</small>
                    </div>
                </div>
            </div>

        {% else %}
            <p class="text-center"><a href="/login" class="btn btn-success">Login</a></p>
        {% endif %}
    </div>
{% endblock %}
