{% extends 'base_template.html' %}


{% block body %}
<h1 class="mb-4">
    <i class="bi bi-translate"></i>Request AI Translation 
</h1>
<a href="{% url 'home' %}" class="btn btn-outline-primary">Back to Home</a>
<a href="{% url 'check_request_status' %}" class="btn btn-primary">Check Requests Status</a>
        
<div class="row" style="margin-bottom: 15px">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h5>✨ Translate an XLIFF file</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <h6>Language Selection</h6>
                        <label for="_selected" class="form-label">Select the language:</label>
                        <select class="form-select" id="language_selected" name="language_selected" required>
                            {% for language in languages %}
                                <option value="{{ language.id }}">{{ language.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <h6>File to be translated</h6>
                        <div class="mb-3">
                            <h6>Upload the translations file </h6>
                            <label for="xliff_source_file" class="form-label">Upload the file and name the Release to be reviewed by the business team.</label>
                            <input type="file" class="form-control" id="xliff_source_file" name="xliff_source_file" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h6>File with literals to be excluded</h6>
                        <div class="mb-3">
                            <label for="literal_ids_to_exclude_file" class="form-label">Upload the file and name the Release to be reviewed by the business team.</label>
                            <input type="file" class="form-control" id="literal_ids_to_exclude_file" name="literal_ids_to_exclude_file" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h6>Exclusion patterns</h6>
                        <div class="mb-3">
                            <label for="literal_patterns_to_exclude_file" class="form-label">Upload the file and name the Release to be reviewed by the business team.</label>
                            <input type="file" class="form-control" id="literal_patterns_to_exclude_file" name="literal_patterns_to_exclude_file" required>
                        </div>
                    </div>
                    <button type="submit" name="action" value ="translate_xliff" class="btn btn-primary">
                        Translate with 🤖 AI
                    </button>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>   

{% endblock %}
