{% extends 'base_template.html' %}

{% block body %}

<h1 class="mb-4">Your translations have been succesfully updated</h1>
<p class="mb-0"><a href="{% url 'home' %}" class="btn btn-outline-primary">Back to Home</a></p>

    <div class="alert alert-success" role="alert" style="margin-top: 20px;">    
        <p>A total of <b>{{ trans_units_updated | length }}</b> translations have been updated.</b>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="card-header">List of Updated translations</div>
            <ul class="list-group list-group-flush">
            {% for trans_unit in trans_units_updated %}
                <li class="list-group-item"><b>Translation</b>: "{{ trans_unit.reviewer_translation }}"<br> 
                    <b>Comment</b>: "{{trans_unit.reviewer_comment}}"
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}